apache-airflow
apache-airflow[gcp]
pandas
requests-cache
google-cloud-storage
openmeteo-requests 
retry-requests
matplotlib
seaborn
numpy
tensorflow
scikit-learn=1.4.0
xgboost
mlflow
hyperopt
shap
fairlearn